.products-page {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 0 0 calc(16% - 5px); /* Три элемента в ряду */
  margin: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-item-content {
  padding: 8px; /* Уменьшенные отступы */
}

.product-item h2 {
  color: #333;
  margin-bottom: 4px; /* Уменьшенный отступ */
  font-size: 20px; /* Уменьшенный размер шрифта */
}

.product-item p {
  color: #666;
  font-size: 15px; /* Уменьшенный размер шрифта */
}
